node_modules/

uploads/assets/*
!uploads/assets/.gitkeep

uploads/avatars/*
!uploads/avatars/.gitkeep

uploads/posts/*
!uploads/posts/.gitkeep

uploads/projects/*
!uploads/projects/.gitkeep

.env

yarn-error.log
